<%- include('./header.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>

    <main>
        <% if(errorMessage.length) {%>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="fullname">Full Name</label>
                <input class="<%= validationErrors.find(e => e.param === 'fullname') ? 'invalid':'' %>" type="text"
                    name="fullName" id="fullname" value="<%= oldInput.fullName %>">
            </div>
            <div class="form-control">
                <label for="username">User Name</label>
                <input class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid':'' %>" type="text"
                    name="userName" id="username" value="<%= oldInput.userName %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid':'' %>" type="email"
                    name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid':'' %>" type="password"
                    name="password" id="password" value="<%= oldInput.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid':'' %>"
                    type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>">
            </div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>
</body>

</html>